<main [class.dark]="isDarkTheme">
  <div class="contact__container" id="contact">
    <div class="con__title">
      <h1 data-aos="fade-down-right" data-aos-easing="ease-in-sine" data-aos-duration="800">Kontakt</h1>
    </div>
    <div class="con__content">
      <!---<div class="con">
        <span>Facebook</span>
        <a href="https://www.facebook.com/tootek98" target="_blank"><fa name="facebook-official" class="fa" size="3x"></fa></a>
      </div>
      <div class="con">
        <span>Mail</span>
        <a href="mailto:"><fa name="envelope-o" class="fa" size="3x"></fa></a>
      </div>
      <div class="con">
        <span>Linkedin</span>
        <a href="https://www.linkedin.com/in/adrian-karczewski/" target="_blank"><fa name="linkedin-square" class="fa" size="3x"></fa></a>
      </div>--->
      <div class="form" data-aos="fade-right" data-aos-offset="150" data-aos-duration="500">
        <form class="form" action="index.html" method="post">
          <input type="text" name="email" class="input" placeholder="Wpisz tutaj swój mail">
          <input type="text" name="email" class="input" placeholder="Wpisz tutaj swój tytuł"><br>
          <textarea name="name" rows="8" cols="3" placeholder="Treść wiadomości"></textarea>
          <input type="button" class="btn" value="Wyślij">
        </form>
      </div>
    </div>
  </div>
</main>
