<main [class.dark]="isDarkTheme">
  <div class="contact__container" id="contact">
    <div class="con__title">
      <h1>Kontakt</h1>
    </div>
    <div class="con__content">
      <div class="con">
        <span>Facebook</span>
        <a href="https://www.facebook.com/tootek98" target="_blank"><fa name="facebook-official" class="fa" size="3x"></fa></a>
      </div>
      <div class="con">
        <span>Mail</span>
        <a href="mailto:"><fa name="envelope-o" class="fa" size="3x"></fa></a>
      </div>
      <div class="con">
        <span>Linkedin</span>
        <a href="https://www.linkedin.com/in/adrian-karczewski/" target="_blank"><fa name="linkedin-square" class="fa" size="3x"></fa></a>
      </div>
    </div>
  </div>
</main>
