<div class="mobile_navigation">
  <button class="hamburger hamburger--elastic" type="button"
      id="menumob" aria-label="Menu" aria-controls="navigation" aria-expanded="true/false" style="color: white" (click)="hamb()" [class.is-active]="active">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
</div>
<div class="mobilemenu" [class.open]="mobileactive" id="mobilemenu">
  <ul>
    <li [scrollTo]="'#home'" [scrollDuration]="1000" (click)="hamb()" [scrollOffset]="-10"><a tabindex="1">Home</a></li>
    <li [scrollTo]="'#portfolio'" [scrollDuration]="1000" (click)="hamb()" [scrollOffset]="-100"><a tabindex="2">Portfolio</a></li>
    <li [scrollTo]="'#projects'" [scrollDuration]="1000" (click)="hamb()" [scrollOffset]="-100"><a tabindex="3">Projects</a></li>
    <li [scrollTo]="'#contact'" [scrollDuration]="1000" (click)="hamb()" [scrollOffset]="-100"><a tabindex="4">Contact</a></li>
  </ul>
</div>
