<main [class.dark]="isDarkTheme">
  <article class="portfolio">
    <div class="title__header" id="portfolio">
      <h1>Portfolio</h1>
    </div>
    <div class="portfolio__content">
      <div class="container">
        <div class="title__header">
          <h2>Zawodowo</h2>
        </div>
        <p>
          Nazywam się <b>Adrian Karczewski</b>. Mam 19 lat i uczęszczam do Technikum na kierunku <b>Technik Informatyk</b>. Interesuję się głównie programowaniem, ale lubię także "pobawić" się sprzętem komputerowym. Zawodowo chciałbym pracować jako <b>Full Stack Developer</b>.
        </p>
        <p>
          Zazwyczaj programuję w języku <b>PHP</b>, ale zdarza mi sie także popisać w <b>JavaScript</b>. Obecnie rozwijam się w tych dwóch językach i w przyszłości chciałbym zostać prawdziwym <b>Full Stack Developerem</b>. Z dnia na dzień uczę się nowych rzeczy i staram się być coraz lepszy. Mam zdolność do szybkiego uczenia się.
        </p>
      </div>
      <div class="container">
        <div class="title__header">
          <h2>Prywatnie</h2>
        </div>
        <p>
          Prywatnie uwielbiam jeździć na rowerze. Aktualnie spędzam na rowerze każdy wolny czas. Jako maturzysta mam go ostatnio zbyt mało i rower zastępuje mi nauka.
        </p>
        <p>
          Uwielbiam także czytać książki. Nie straszne mi tytuły takie jak "Kod Leonarda da Vinci", "Hobbit" oraz "Władca pierścieni".
        </p>
      </div>
    </div>
  </article>
  <article class="contacted">
    <div class="background"></div>
    <div class="text">
      <span>Chcesz złożyć mi propozycję współpracy?</span>
    </div>
    <button type="button" [scrollTo]="'#contact'" [scrollDuration]="1000" [scrollOffset]="-100" class="btn" name="button">Napisz do mnie</button>
  </article>
</main>
