<main [class.dark]="isDarkTheme">
  <div class="projects" id="projects">
    <div class="title">
      <h1>Projekty</h1>
    </div>
    <div class="container">
      <div class="project">
        asasa
      </div>
      <div class="project">
        asasa
      </div>
      <div class="project">
        asasa
      </div>
      <div class="project">
        asasa
      </div>
      <div class="project">
        asasa
      </div>
      <div class="project">
        asasa
      </div>
    </div>
  </div>
</main>
