<main [class.dark]="isDarkTheme">
  <div class="projects" id="projects">
    <div class="title">
      <h1 data-aos="fade-down-right" data-aos-easing="ease-in-sine" data-aos-duration="800">Projekty</h1>
    </div>
    <div class="container">
      <div class="project" data-aos="fade-right" data-aos-offset="100" data-aos-duration="1200">
        asasa
      </div>
      <div class="project" data-aos="fade-right" data-aos-offset="100" data-aos-duration="1200">
        asasa
      </div>
      <div class="project" data-aos="fade-right" data-aos-offset="100" data-aos-duration="1200">
        asasa
      </div>
      <div class="project" data-aos="fade-right" data-aos-offset="100" data-aos-duration="1200">
        asasa
      </div>
      <div class="project" data-aos="fade-right" data-aos-offset="100" data-aos-duration="1200">
        asasa
      </div>
      <div class="project" data-aos="fade-right" data-aos-offset="100" data-aos-duration="1200">
        asasa
      </div>
    </div>
  </div>
</main>
