<main [class.dark]="isDarkTheme">
  <div class="skill__container">
    <div class="title_skill">
      <h1>Umiejętności</h1>
    </div>
    <div class="skill_content">
      <div class="skill">
        <div class="name__skill">
          HTML
        </div>
        <div class="stars">
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five"></span>
        </div>
      </div>
      <div class="skill">
        <div class="name__skill">
          JS
        </div>
        <div class="stars">
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five"></span>
        </div>
      </div>
      <div class="skill">
        <div class="name__skill">
          PHP
        </div>
        <div class="stars">
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five"></span>
        </div>
      </div>
      <div class="skill">
        <div class="name__skill">
          Angular 4/5
        </div>
        <div class="stars">
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five color"></span>
        </div>
      </div>
      <div class="skill">
        <div class="name__skill">
          React
        </div>
        <div class="stars">
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five color"></span>
          <span class="star-five color"></span>
        </div>
      </div>
      <div class="skill">
        <div class="name__skill">
          Symfony
        </div>
        <div class="stars">
          <span class="star-five"></span>
          <span class="star-five color"></span>
          <span class="star-five color"></span>
          <span class="star-five color"></span>
          <span class="star-five color"></span>
        </div>
      </div>
    </div>
  </div>
</main>
