<main [class.dark]="isDarkTheme">
  <div class="skill__container">
    <div class="title_skill">
      <h1 data-aos="fade-down-right" data-aos-easing="ease-in-sine" data-aos-duration="800">Umiejętności</h1>
    </div>
    <div class="skill_content">
      <div class="skill">
        <div class="name__skill" data-aos="zoom-in-up" data-aos-easing="ease-in-sine" data-aos-duration="800">
          HTML
        </div>
        <div class="stars" data-aos="flip-up" data-aos-easing="ease-in-sine" data-aos-duration="800">
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five"></span>
        </div>
      </div>
      <div class="skill">
        <div class="name__skill" data-aos="zoom-in-up" data-aos-easing="ease-in-sine" data-aos-duration="800">
          JS
        </div>
        <div class="stars" data-aos="flip-up" data-aos-easing="ease-in-sine" data-aos-duration="800">
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five"></span>
        </div>
      </div>
      <div class="skill">
        <div class="name__skill" data-aos="zoom-in-up" data-aos-easing="ease-in-sine" data-aos-duration="800">
          PHP
        </div>
        <div class="stars" data-aos="flip-up" data-aos-easing="ease-in-sine" data-aos-duration="800">
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five"></span>
        </div>
      </div>
      <div class="skill">
        <div class="name__skill" data-aos="zoom-in-up" data-aos-easing="ease-in-sine" data-aos-duration="800">
          Angular 4/5
        </div>
        <div class="stars" data-aos="flip-up" data-aos-easing="ease-in-sine" data-aos-duration="800">
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five color"></span>
        </div>
      </div>
      <div class="skill">
        <div class="name__skill" data-aos="zoom-in-up" data-aos-easing="ease-in-sine" data-aos-duration="800">
          React
        </div>
        <div class="stars" data-aos="flip-up" data-aos-easing="ease-in-sine" data-aos-duration="800">
          <span class="star-five"></span>
          <span class="star-five color"></span>
          <span class="star-five color"></span>
          <span class="star-five color"></span>
          <span class="star-five color"></span>
        </div>
      </div>
      <div class="skill">
        <div class="name__skill" data-aos="zoom-in-up" data-aos-easing="ease-in-sine" data-aos-duration="800">
          Symfony
        </div>
        <div class="stars" data-aos="flip-up" data-aos-easing="ease-in-sine" data-aos-duration="800">
          <span class="star-five"></span>
          <span class="star-five"></span>
          <span class="star-five color"></span>
          <span class="star-five color"></span>
          <span class="star-five color"></span>
        </div>
      </div>
    </div>
  </div>
</main>
