@import '~normalize.css/normalize.css';
@import '~hamburgers/dist/hamburgers.css';
@import '~aos/dist/aos.css';
@import 'https://fonts.googleapis.com/css?family=Montserrat&amp;subset=latin-ext';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
body
{
  font-family: 'Montserrat', sans-serif;
  color: white;
  overflow-x:hidden;
}
a
{
  text-decoration: none;
  color: inherit;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
