<div class="main__header" scroll id="scrolls">
  <div class="container">
    <div class="logo">
      Karczewski.pl
    </div>
    <div class="menu">
      <!----<div class="box foo">
        dsdds
      </div>---->
      <ul>
        <li [scrollTo]="'#home'" [scrollDuration]="1000" [scrollOffset]="-10"><a tabindex="1">Home</a></li>
        <li [scrollTo]="'#portfolio'" [scrollDuration]="1000" [scrollOffset]="-100"><a tabindex="2">Portfolio</a></li>
        <li [scrollTo]="'#projects'" [scrollDuration]="1000" [scrollOffset]="-100"><a tabindex="3">Projects</a></li>
        <li [scrollTo]="'#contact'" [scrollDuration]="1000" [scrollOffset]="-100"><a tabindex="4">Contact</a></li>
      </ul>
    </div>
    <app-mobile></app-mobile>
  </div>
</div>
